name: build app

on:
  pull_request:
    paths-ignore:
      - '.idea/**'
      - 'preview/**'
      - 'jitpack.yml'
      - '**/*.md'
      - '.gitignore'
      - 'renovate.json'
      - 'FUNDING.yml'
  workflow_dispatch:

env:
  JAVA_VERSION: 17
  JAVA_DISTRO: 'temurin'

jobs:
  build-app:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        module: [ app-activity, service-hilt, fullscreen-dialog, keyboard-usage ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}

      - name: Set up gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build ${{ matrix.module }} module
        run: |
          ./gradlew :samples:${{ matrix.module }}:assembleRelease --parallel
